<% if notice %>
  <aside id="notice"> <%= notice %> </aside>
  <% end %>

<h1>Your cart</h1>

<ul>
  <% @cart.line_items.each do |item| %>
   <li>
    <%= item.quantity %> &times;  <%=item.product.title %>
   </li>
  <%end %>
  <h1>Hello there</h1>
</ul>
